@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
   @apply box-border;
}

html {
   @apply scroll-smooth;
}

body {
   @apply p-0 m-0 bg-[#020202] text-white font-inter;
}

@layer components {
   input,
   select,
   textarea,
   button {
      @apply focus:outline-none bg-transparent;
   }

   .text-linear {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   [role="button"],
   button {
      @apply select-none;
   }
   .border-linear {
      @apply relative z-0 rounded-md;
   }
   .border-linear::after {
      @apply content-[''] -inset-[1px] block absolute -z-20 bg-gradient-to-t to-[#5200FF] from-[#C732A6] rounded-[21px];
   }
   .border-linear::before {
      @apply content-[''] inset-0 block absolute -z-10 bg-black rounded-[20px];
   }
}

.roadmap-card {
   @apply w-[210px] pt-10 pb-7  opacity-100 duration-500;
}
.slick-slide.slick-active.slick-center.slick-current
   .roadmap-card {
   @apply w-[270px] pt-[60px] pb-32 opacity-100;
}
.slick-track {
   @apply duration-500;
}
